/*左侧导航菜单样式*/

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*body {*/
	/*background: #2d2c41;*/
	/*font-family: 'Open Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;*/
/*}*/

.admin_wrap .section .nav ul {
	list-style-type: none;
}

.admin_wrap .section .nav a {
	color: #b63b4d;
	text-decoration: none;
}

.admin_wrap .section .nav .accordion {
 	width: 100%;
 	max-width: 360px;
 	margin: 0.6em auto 2em;
 	background: #FFF;
 	-webkit-border-radius: 4px;
 	-moz-border-radius: 4px;
 	border-radius: 4px;
 }

.admin_wrap .section .nav .accordion .link {
	cursor: pointer;
	display: block;
	padding: 15px 15px 15px 42px;
	color: #4D4D4D;
	font-size: 14px;
	font-weight: 700;
	border-bottom: 1px solid #CCC;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.admin_wrap .section .nav .accordion li:last-child .link {
	border-bottom: 0;
}

.admin_wrap .section .nav .accordion li i {
	position: absolute;
	top: 16px;
	left: 12px;
	font-size: 18px;
	color: #595959;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.admin_wrap .section .nav .accordion li i.fa-chevron-down {
	right: 12px;
	left: auto;
	font-size: 16px;
}

.admin_wrap .section .nav .accordion li.open .link {
	color: #b63b4d;
}

.admin_wrap .section .nav .accordion li.open i {
	color: #b63b4d;
}
.admin_wrap .section .nav .accordion li.open i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

/**
 * Submenu
 -----------------------------*/
.admin_wrap .section .nav .submenu {
 	display: none;
 	background: #444359;
 	font-size: 14px;
 }

.admin_wrap .section .nav .submenu li {
 	border-bottom: 1px solid #4b4a5e;
 }

.admin_wrap .section .nav .submenu a {
 	display: block;
 	text-decoration: none;
 	color: #d9d9d9;
 	padding: 12px;
 	padding-left: 42px;
 	-webkit-transition: all 0.25s ease;
 	-o-transition: all 0.25s ease;
 	transition: all 0.25s ease;
 }

.admin_wrap .section .nav .submenu a:hover {
 	background: #b63b4d;
 	color: #FFF;
 }

