<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd		
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<!-- 业务层,不用组件扫描+注解的原因：因为注解是硬编码，不利于后期维护。而控制层使用组件扫描+注解的原因：方法参数需要注解，不得不使用注解。 -->
   <bean id="EAccountService" class="cn.zengzhaoshang.service.impl.EAccountServiceImpl"/>
   <bean id="ECheckService" class="cn.zengzhaoshang.service.impl.ECheckServiceImpl"/>
   <bean id="EDepartService" class="cn.zengzhaoshang.service.impl.EDepartServiceImpl"/>
   <bean id="EEmployService" class="cn.zengzhaoshang.service.impl.EEmployServiceImpl"/>
   <bean id="ERuleService" class="cn.zengzhaoshang.service.impl.ERuleServiceImpl"/>
   <bean id="EStaffService" class="cn.zengzhaoshang.service.impl.EStaffServiceImpl"/>
   <bean id="ETrainService" class="cn.zengzhaoshang.service.impl.ETrainServiceImpl"/>
     
</beans>